[submodule "external/GEScaleSyst"]
	path = external/GEScaleSyst
	url = https://github.com/jedori0228/GEScaleSyst.git
	branch = ForSKFlatAnalyzer
[submodule "external/TH4D"]
	path = external/TH4D
	url = https://github.com/sansan9401/TH4D
[submodule "external/KinematicFitter"]
	path = external/KinematicFitter
	url = https://github.com/bhoh/KinematicFitter.git
