[submodule "external/GEScaleSyst"]
	path = external/GEScaleSyst
	url = https://github.com/jedori0228/GEScaleSyst.git
	branch = ForSKFlatAnalyzer
[submodule "external/TH4D"]
	path = external/TH4D
	url = https://github.com/sansan9401/TH4D.git
[submodule "external/Aepcor"]
	path = external/Aepcor
	url = https://gitlab.cern.ch/hyseo/Aepcor.git
[submodule "external/RocPFProb"]
	path = external/RocPFProb
	url = https://gitlab.cern.ch/hyseo/RocPFProb.git
[submodule "external/ZptCorrection"]
	path = external/ZptCorrection
	url = https://github.com/sansan9401/ZptCorrection.git
[submodule "external/KinematicFitter"]
	path = external/KinematicFitter
	url = https://github.com/bhoh/KinematicFitter.git
